<h1>로그인(음식점용)</h1>
<form>
  <fieldset>
    {% csrf_token %}
    <label for="username">ID:</label>
    <input id="username" type="text" name="username" />
    <br />
    <label for="password">PW:</label>
    <input id="password" type="password" name="password" />
    <br />
    <input type="submit" value="로그인" />
  </fieldset>
</form>

<p>
  회원이 아니신가요?
  <a href="{% url 'baedal:restaurant_signup' %}">회원가입으로</a>
</p>
<p>
  일반 고객이신가요?
  <a href="{% url 'baedal:customer_signin' %}">고객용 로그인으로</a>
</p>
