{% include 'baedal/restaurant_navbar.html' %}
<h1>주문관리</h1>
{% if error %}
<p><strong>{{error}}</strong></p>
{% endif %} {% for purchase in purchases %}
<form method="POST">
  {% csrf_token %}
  <fieldset>
    <h4>고객명: {{purchase.customer.username}}</h4>
    <p>{{purchase.created_date}}</p>
    <p>상태: {{purchase.status}}</p>
    <p>전화번호: {{purchase.customer.phone}}</p>
    <p>주소: {{purchase.customer.address}}</p>
    <p>총액: {{purchase.total_price}}</p>
    {{menus}}
    <ul>
      {% for menu in purchase.menus %}
      <li>{{menu.name}}: {{menu.quantity}} x {{menu.price}}</li>
      {% endfor %}
    </ul>
    {% if purchase.status == "대기" %}
    <input type="hidden" name="purchase_id" value="{{purchase.id}}" />
    <input type="radio" name="status" id="accept" value="접수" checked />
    <label for="accept">접수</label>
    <input type="radio" name="status" id="reject" value="반려" />
    <label for="reject">반려</label>
    <input type="submit" value="확인" />
    {% endif %}
  </fieldset>
</form>
{% endfor %}
