<h1>회원가입(음식점용)</h1>
{% if error %}
<strong>{{error}}</strong>
{% endif %}
<form method="POST">
  <fieldset>
    {% csrf_token %}
    <label for="username">ID:</label>
    <input id="username" type="text" name="username" />
    <br />
    <label for="password">PW:</label>
    <input id="password" type="password" name="password" />
    <br />
    <label for="display_name">음식점명</label>
    <input id="display_name" type="text" name="display_name" />
    <br />
    <label for="category">카테고리</label>
    <select id="category" name="category">
      {% for cat in categories %}
      <option value="{{cat}}">{{cat}}</option>
      {% endfor %}
    </select>
    <br />
    <input type="submit" value="회원가입" />
  </fieldset>
</form>

<p>
  이미 회원이신가요?
  <a href="{% url 'baedal:restaurant_signin' %}">로그인으로</a>
</p>
